#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--text-color);
}

#home .install-box {
    border-radius: .5em;
    margin-top: 3em;
    padding: 10px 10px;
    color: white;
    background-color: black;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 968px;
}

.info-box h1 {
    font-family: "MI SANS";
    font-size: 3em;
    font-weight: 700;
}

.info-box h3 {
    font-family: "MI SANS";
    font-size: 1.5em;
    font-weight: 500;
}

.info-box p {
    opacity: .7;
}

.btn-box {
    display: flex;
    gap: .5em;
}
